<%- include('../header');%>
<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu Navigasi Side-->
      <%- include('../admin/menuNav');%>
      <!-- End Menu Navigasi Side-->
      <!-- Menu Navigasi Side-->
      <%- include('../admin/topNavBar');%>
      <!-- End Menu Navigasi Side-->
      <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Content -->
      <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Data  Ekstrakulikuler /</span>Info Ekstrakulikuler</h4>
        <!-- Contextual Classes -->
        <div class="card">
          <h5 class="card-header">Daftar Ekstrakulikuler</h5>
          <div class="table-responsive text-nowrap">
            <table class="table">
              <caption class="ms-4">
                <!-- Untuk Halaman Pagination -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#tambahData"><span class="badge bg-label-primary me-1">Tambah Data</span></a>
                <!-- Modal Tamba Data -->
                <div class="modal fade" id="tambahData" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">TAMBAH INFO</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="formAccountSettings" method="POST" action="/infoEskul/simpanInfo">
                            <div class="modal-body">
                                <div class="row">
                                  <div class="col mb-3">
                                    <label class="form-label" for="idInfoeskul">No Id</label>
                                    <input type="text" class="form-control" name="idInfoeskul" placeholder="xxxxx" />
                                  </div>
                                  <div class="row g-2">
                                    <label for="noIdGuru">namaGuru</label>
    
                                    <select name="noIdGuru"  class="form-control">
                                      <option value="1">Pa Alfian Rahman</option>
                                      <option value="2">Pa Ryan Permana</option>
                                      <option value="3">Pa Jimmy</option>
                                      <option value="4">Pa Raka</option>
                                      <option value="5">Pa ade</option>
                                      <option value="6">Pa tri</option>
                                      <option value="7">Pa Rahmat</option>
                                      <option value="8">Pa Lutfi</option>
    
                                    </select>
                              
                              </div>
                                <div class="row g-2">
                                    <div class="col mb-0">
                                      <label for="nama_ekskul" class="form-label">Nama Ekskul</label>
                                      <input type="text" name="nama_ekskul" class="form-control" placeholder="xxxx" />
                                    </div>
                                  </div>
                                  <div class="row g-2">
                                    <div class="col mb-0">
                                      <label for="preview_eskul" class="form-label">Preview Ekskul</label>
                                      <textarea name="preview_eskul" class="form-control" placeholder="xxxx"></textarea>
                                    </div>
                                  </div>
                                  <div class="row g-2">
                                    <div class="col mb-0">
                                      <label for="informasi_eskul" class="form-label">informasi Ekskul</label>
                                      <textarea name="informasi_eskul" class="form-control" placeholder="xxxx"></textarea>
                                    </div>
                                  </div>
                                  <div class="row g-2">
                                    <div class="col mb-0">
                                      <label for="logo" class="form-label">Logo Ekskul</label>
                                      <input type="file" name="logo" class="form-control" placeholder="xxxx" />
                                    </div>
                                  </div>
                                  </div>
                                 
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                  Close
                                </button>
                                <button type="submit" class="btn btn-primary">Simpan Info</button>
                              </div>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>     
                <!-- Modal Unggah Data -->
                <div class="modal fade" id="unggahData" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Unggah Data Jenis Pengguna.csv</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="nameWithTitle" class="form-label">Pilih Berkas CSV Data</label>
                                        <form action="/unggahJenisPengguna" method="post" enctype="multipart/form-data">    
                                            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept="csv" name="import-csv"/>
                                            <hr>
                                            <button class="btn btn-outline-primary" type="reset" id="inputGroupFileAddon04">Reset</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </form>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
              </caption>
              <thead>
                <tr>
                  <th><%= thSatu %></th>
                  <th><%= thDua %></th>
                  <th><%= thTiga %></th>
                  <th><%= thEmpat %></th>
                  <th><%= thLima %></th>
                  <th><%= gambar %></th>
                  <th><%= thEnam %></th>

                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <% if(data.length){              
                  for(var i = 0; i< data.length; i++) {%>
                <tr class="table-default">
                  <td><%=data[i].idInfoeskul%></td>
                  <td><%=data[i].namaGuru%></td>
                  <td><%=data[i].nama_ekskul%></td>
                  <td><%= data[i].preview_eskul.slice(0, 50) %></td>
                  <td><%= data[i].informasi_eskul.slice(0, 50) %></td>
                  <td>
                    <img src="assetsinformasi/img/basket1.png" class="img-fluid" alt="">
                  </td>


                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="../DaftarPeserta" data-bs-toggle="modal"
                          ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-width" viewBox="0 0 16 16">
                            <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                          </svg> Detail</a>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editData<%= data[i].idInfoeskul%>"
                          ><i class="bx bx-edit-alt me-1"></i> Edit</a
                        >
                        <a class="dropdown-item" href="/infoEskul/hapusInfo/<%=data[i].idInfoeskul%>"
                          ><i class="bx bx-trash me-1"></i> Delete</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- Edit Tamba Data -->
                <div class="modal fade" id="editData<%=data[i].idInfoeskul%>" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">EDIT INFO</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="formAccountSettings" method="POST" action="/infoEskul/updateInfo">
                            <div class="modal-body">
                                <div class="row">
                                  <div class="col mb-3">
                                    <label class="form-label" for="idInfoeskul">No Id</label>
                                    <input type="text" class="form-control" name="idInfoeskul" placeholder="xxxxx" value="<%= data[i].idInfoeskul%>"/>
                                  </div>
                                  <div class="row g-2">
                                    <label for="pet-select">nama Guru</label>
                                    <select name="noIdGuru"  class="form-control" value="<%= data[i].noIdGuru%>">
                                      <option value="<%= data[i].noIdGuru%>"><%= data[i].namaGuru%></option>    
                                      <option value="1">Pa Alfian Rahman</option>
                                      <option value="2">Pa Ryan Permana</option>
                                      <option value="3">Pa Jimmy</option>
                                      <option value="4">Pa Raka</option>
                                      <option value="5">Pa ade</option>
                                      <option value="6">Pa tri</option>
                                      <option value="7">Pa Rahmat</option>
                                      <option value="8">Pa Lutfi</option>
                                        </select>
                              </div>
                                  <div class="row g-2">
                                    <div class="col mb-0">
                                      <label for="nama_ekskul" class="form-label">Nama Ekskul</label>
                                      <input type="text" name="nama_ekskul" class="form-control" placeholder="xxxx"  value="<%= data[i].nama_ekskul%>" />
                                    </div>
                                  </div>
                                  <div class="row g-2">
                                    <div class="col mb-0">                                    
                                      <label for="preview_eskul" class="form-label">Preview Ekskul</label>
                                      <textarea name="preview_eskul" class="form-control" placeholder="xxxx"><%= data[i].preview_eskul%></textarea>

                                  </div>
                                </div>
                              
                                  <div class="row g-2">
                                    <div class="col mb-0">
                                      <label for="informasi_eskul" class="form-label">Informasi Ekskul</label>
                                      <textarea name="informasi_eskul" class="form-control" placeholder="xxxx"><%= data[i].informasi_eskul%></textarea>
                                    </div>
                                  </div>
                                  <div class="row g-2">
                                    <div class="col mb-0">
                                      <label for="nama_ekskul" class="form-label">Logo Ekskul</label>
                                      <input type="file" name="logo" class="form-control" placeholder="xxxx"  value="<%= data[i].logo%>" />
                                    </div>
                                  </div>
                              </div>                         
                                 <div class="modal-footer">
                              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Close
                              </button>
                              <button type="submit" class="btn btn-primary">Update Info</button>
                            </div>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
                <% }
                                    
              }else{ %>
                  <tr>
                      <td colspan="5">
                          <div class="alert alert-danger" role="alert">
                              Data Tidak Ditemukan !
                          </div>
                      </td>
                  </tr>
              <% } %>    
              </tbody>
            </table>
          </div>
        </div>
        <!--/ Contextual Classes -->
      </div>
      <!-- / Content -->
<%- include('../footer');%>